# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Denoising output
denoised_output/

# Large data files and checkpoints (if you don't want to track them)
*.nii
*.nii.gz
*.h5
# Logs
*.log
